body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .page {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;

  }
  .orizzontali {
    display: flex;
    flex-direction:row;
   
  }  
  .verticali {
    display: flex;
    flex-direction:column;
    padding-bottom: 10px;
   
  }
  .esercizio{
    padding-right: 30px;
  }
  .bordo {
    display:  inline-flex;
    border: 1px solid gray;
  }    


  